<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="col-md-6 col-sm-6">
  <%= form_for @order, url: save_order_address_path, method: :post do |f| %>
  <fieldset>
    <legend>Address</legend>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :country_id %>
      <%= f.collection_select(:country_id, @countries, :id, :name, { prompt: true }, { class: 'form-control' }) %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Payment method</legend>
    <div class="form-group">
      <%= f.label :payment_type %>
      <%= f.select :payment_type, Order.payment_types.keys, { prompt: true }, { class: 'form-control' } %>
    </div>
  </fieldset>
  <div class="form-group">
    <%= f.submit 'Continue', class: 'btn btn-default' %>
  </div>
  <% end %>
</div>
<div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
  <h4>Order Summary</h4>
  <table class="table">
    <% @cart.line_items.each_with_index do |item, index| %>
      <tr class="info">
        <td>
          <%= link_to(item.book.name, book_path(item.book)) %>
        </td>
        <td>
          x
        </td>
        <td>
          <%= item.quantity %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
