<h3>Finish your order</h3>

<div class="col-sm-9 col-md-9">
  <table class="table">
    <tr>
      <td>
        Total
      </td>
      <td>
        <%= number_to_currency(@order.total, unit: '€', precision: 2) %>
      </td>
    </tr>
    <tr>
      <td>Tax for <%= @order.country.name %></td>
      <td><%= number_to_currency(@order.tax, unit: '€', precision: 2) %></td>
    </tr>
    <tr>
      <td>Shipping cost</td>
      <td><%= number_to_currency(@order.shipping_cost, unit: '€', precision: 2) %></td>
    </tr>
    <tr>
      <td>Grand Total</td>
      <td><%= number_to_currency(@order.total_with_tax + @order.shipping_cost, unit: '€', precision: 2) %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to 'Finish order', finish_checkout_path, method: :post, class: 'btn btn-success' %>
      </td>
    </tr>
  </table>
</div>

<div class="col-sm-3 col-md-3">
  <% if @order.shipping_cost > 0 %>
    <p class="alert alert-warning text-center">
    Add <%= number_to_currency(Order::AMOUNT_FOR_FREE_SHIPPING - @order.total_with_tax, unit: '€', precision: 2) %> more for free shipping
    </p>
  <% end %>
</div>
