$color-black: #000000;
$color-light-gray: #F8F7F5;
$color-primary-0: #308D6C;  // Main Secondary color (2) */
$color-primary-1: #7EC5AC;
$color-primary-2: #4DA486;
$color-primary-3: #1A7958;
$color-primary-4: #086041;

$color-complement-0: #6FB93E; // Main Complement color */
$color-complement-1: #B6E995;
$color-complement-2: #92D765;
$color-complement-3: #539F22;
$color-complement-4: #387E0B;

$navbar-default-color: $color-complement-1;
$navbar-default-link-color: $color-complement-1;
$navbar-default-border: $color-primary-4;
$navbar-default-bg: $color-primary-0;

$brand-primary: $color-primary-4;

$body-background: #F0F0F0;
$container-background: white;
