<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <ul class="nav navbar-nav">
          <li>
            <a class="navbar-brand" href="<%= root_url %>">
              <%= image_tag 'logo.png', id: 'logo' %>
              <span>book-a-book</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="nav navbar-nav">
          <li>
            <div class="input-group">
              <input type="hidden" name="search_param" value="all" id="search_param">
              <input type="text" class="form-control" name="x" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <ul class="nav navbar-nav pull-right navbar-right">
          <%= user_presenter.my_account(view_context: self) %>
        </ul>
      </div>
    </div>
  </div>
</nav>
