<ul class="list-group list-unstyled">
  <% categories.each do |category| %>
    <li class="">
      <%= link_to(category.name, category_path(category.id), class: 'no-color list-group-item') %>
    </li>
  <% end %>
</ul>
